body{
    font-size: 20px;
    background-color: 	#FFFFF7 ;
}


label, input, textarea{
    margin-bottom: 0.8rem;
}

button{
    margin-top: 0.5rem;
}


.section-header{
    margin-top: 2.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.list-group{
    width: 100%;
    margin-bottom: 2.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-item{
    margin-bottom: 1.5rem;
}